# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Editors
# ==========================
.vscode/
.idea/

# ==========================
# MATLAB
# ==========================
slprj/
work/
*.autosave
*.asv
cache/

# ==========================
# STM32CubeIDE / Eclipse
# ==========================
.metadata/
.history/

# Eclipse project metadata
*.pdom
*.markers
*.markers.snap
*.snap

# Build output
Debug/
Release/

# Build artifacts
*.o
*.d
*.elf
*.bin
*.hex
*.map

# Logs / temporary files
*.log
*.tmp
